<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.lyonbros.turtlcore"
	version="0.1.0">
	<name>TurtlCore</name>
	<description>An interface to the Turtl core library</description>
	<license>GPLv3</license>
	<keywords>native</keywords>

	<js-module src="www/core.js" name="turtlcore">
		<clobbers target="TurtlCore" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="TurtlCore">
				<param name="android-package" value="com.lyonbros.turtlcore.TurtlCorePlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
		</config-file>

		<source-file src="src/android/com/lyonbros/turtlcore/TurtlCorePlugin.java" target-dir="src/com/lyonbros/turtlcore/" />
		<source-file src="src/android/com/lyonbros/turtlcore/TurtlCoreNative.java" target-dir="src/com/lyonbros/turtlcore/" />
	</platform>
</plugin>

